table, th, td, tr {
  border: 1px solid black;
  border-collapse: separate;


  outline-color: white;
}
table{
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 20pt;
  text-align: center;
  font-style: normal;
  font-family:sans-serif;
  color: white;
  text-decoration: underline;
  border: 5px outset darkblue;
  background-color: blue;
  border-bottom:  double;
}

th{
  font-size: 14pt;
  font-style: normal;
  font-family: cursive;
  color: white;
  background-color: grey;
  font-weight: bold;
  border-spacing: 10pt;

}
body{
  background-color: darkgrey;
}
td{
  background-color: white;
  text-align: center;
  font-family: monospace;
  font-size: 12pt;

}

img{
   border-radius: 20pt;
}
